source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Microsoft.EntityFrameworkCore.Design 2.1.0-preview2-final
nuget Microsoft.EntityFrameworkCore.Sqlite 2.1.0-preview2-final
nuget xunit 2.3.1
nuget xunit.runner.visualstudio 2.3.1

source https://api.nuget.org/v3/index.json
storage: none
clitool dotnet-fake

group FakeBuild
source https://api.nuget.org/v3/index.json
storage: none
nuget Fake.Core.Target
nuget Fake.DotNet.Cli
