source https://dotnet.myget.org/F/aspnetcore-release/api/v3/index.json
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Microsoft.EntityFrameworkCore.Design >= 2.1.0-preview1-0
nuget Microsoft.EntityFrameworkCore.Sqlite 2.0.1
nuget xunit 2.3.1
nuget xunit.runner.visualstudio 2.3.1
nuget FsUnit.xUnit 3.1.0

group Build
source https://api.nuget.org/v3/index.json
nuget Fake